{% extends 'base.html' %}

{% load i18n knpay_tags %}

{% block content %}
    <h2>{% trans 'Status' %}: {{ object.get_status_display }}</h2>
    {% prepare_payload object as payload %}
        <ul>
            {% for key, value in payload.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
{% endblock %}
