{% extends 'base.html' %}

{% load knpay_tags %}

{% block content %}

    <form id="payment-form" action="." method="post">
        {% csrf_token %}

        {% if config.RENDER_FORM %}
            {{ form.as_p }}
        {% endif %}

        {% show_gateway_choices %}

        <button type="submit" id="submit-payment-form">Submit</button>
    </form>

{% endblock %}

{% block extra_js %}

    <script type="text/javascript">
        $.DjangoAjaxHandler2({
        submitBtn: '#submit-payment-form',
        form_selector: '#payment-form'
    })

    </script>

{% endblock %}